/* 通用 */
html, body, ul, li, ol , dl , dd , dt , p, h1, h2, h3, h4, h5, h6, form, fieldset, legend , table, td, img {margin: 0;padding: 0;}
input,select,textarea{margin:0;}
fieldset,img{border:none;}
address,caption,cite,code,dfn,em,th,var {font-style: normal;font-weight: normal;}
ul,ol{list-style-type:none;}
select,input{vertical-align:middle;}
select,input,textarea {font-size:12px;}
body {background:#fff;color:#333;padding:5px 0;font:12px/20px "宋体"; }
.clearfix:after{content:"."; display:block; height:0; visibility:hidden;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;height:0px;overflow:hidden;  }

a {color:#000099;text-decoration:none;}
a:hover {color: #f00;text-decoration:none;}

.wrap{margin: 0 auto;padding:0 10px;}
.tac{text-align:center; }
.tar{text-align:right; }

.top{text-align:right;padding-top:4px; width:950px; margin:auto;}
h1{padding:50px 0 20px 0 ;}
.box-search{width:600px;margin:0 auto;position:relative;}
.list-type{font:14px/36px "宋体"; position:relative;overflow:hidden;height:36px; }
.list-type a{float:left;margin:0 7px;display:inline;height:36px;text-decoration:none;outline:none; }
.list-type a.selected{background:url(../img/sea_arr.png) no-repeat center 100%;color:#c00; }
.list-more{position:absolute;left:420px;top:26px;width:70px; }
.list-more .more-arr{background: url(../img/sea_m_arr.png) no-repeat 12px 0;height:5px;overflow:hidden;  position:relative;margin-bottom:-1px; }
.search-ipt{margin-top:-4px; }
.search-ipt form a{line-height:36px; margin-left:1em}

.search-ipt2{margin-top:15px; float:left; padding-left:4px} /*qiaotengfei*/

.box-ipt{border:3px solid #ECEEF9;float:left;}
.ipt-01{border:1px solid #667BCE;padding:4px;line-height:20px!important;height:20px; width:426px; margin:0;float:left; font-size:14px;_margin-right:-3px;outline:none;}/*2010/12/6*/
.more-link{border:1px solid #667BCE;background:#fff; padding:7px 0 0 0;}
.more-link a{display:block;margin:1px;line-height:24px;padding:0 0 0 13px;text-decoration:none;background:#fff;zoom:1;height:24px;overflow:hidden;  }
.more-link a:hover{background-color:#ECEEF9;text-decoration:none; color:#000099; }
.more-link .line-dot{background:url(../img/ss_cl_004.png) repeat-x;}
input.ipt-submit{background:url(../img/sea_btn.png);width:70px;height:30px; border:none;color:#fff;font-size:14px;margin:0px 0px 0 -1px; cursor:pointer; outline:none 0}
input.ipt-submit:hover,input.ipt-submit.hover{background:url(../img/sea_btn_hover.png);}
input.ipt-submit:focus,input.ipt-submit:active{outline:none 0;border:none}
input.ipt-submit::-moz-focus-inner { border: 0; }

.box-word{line-height:24px; clear:both;padding:5px 0 0 5px;}
.box-word a{ text-decoration:none}
.foot{text-align:center; margin:120px 0 0 0 ;}
.search-ipt,.list-type{padding-left:20px;}

 

 .latest{list-style:none outside none;width:700px;}
 .latest li{  float: left; padding: 3px 8px;width: 180px;}